.banner {
	background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0)),url(../../images/background.png);
	color: white;
	padding: 200px 0px;
	background-size: cover;
	background-position: center;
	text-align: center;
}

